# BBVA data

## Parameters

In [1]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos'
CP_FILE = 'Canarias_CP.csv'
FOLDER_NAME = 'CM01_3'

## Import

In [2]:
from mariachis.models import Bbva

bbva = Bbva(BASE_DIR, CP_FILE, FOLDER_NAME)
print(bbva)

Folder path:	/Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos/CM01_3
With 102 files about average amount and 103 about cards

## Transform

In [3]:
df, pipe_obj = bbva.full_pipeline_bbva(comunity_level=True, merge_zipcode=True, cluster_kwargs={'n_clusters':4, 'kmeans':False}, polygon_kwargs={'dissolve_by':'comunity_code'}, index=['comunity_code'], values=['avg_amount','cards'], aggfunc=['count','sum','mean','median','min','max'], fill_value=0)
df.head(2)

,comunity_code,count_avg_amount,count_cards,max_avg_amount,max_cards,mean_avg_amount,mean_cards,median_avg_amount,median_cards,min_avg_amount,...,zipcode,place,state,state_code,province,province_code,comunity,lat,lng,accuracy
0,35001,5409,5409,145.51,24,24.415918,6.252357,21.510,5.0,4.74,...,35480,"Palmeral, El (Agaete) (Urbanizacion)",Canarias,CN,Las Palmas,GC,Agaete,28.1002,-15.700,4
1,35002,5378,5378,343.56,37,36.958057,14.362588,28.575,14.0,6.23,...,35118,Arinaga,Canarias,CN,Las Palmas,GC,Agüimes,27.8766,-15.428,4

## Profiles

In [4]:
from mariachis.utils import profiles

prof = profiles(df[['cluster','province','comunity']].join(df.filter(regex='sum|mean|min|max')))

for var in prof.values():
    display(var.fillna(0).style.format("{:.0f}").background_gradient('Blues'))

## Export

In [5]:
bbva.export_result(df, 'Finished_BBVA.csv')

Exported succesfully!
File:	Finished_BBVA.csv
Path:	/Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos