# Pubs

## Parameters

In [1]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos'
FOLDER_NAME = 'CM29'
FILE_NAME = 'maestro_cm29.csv'
CP_FILE = 'Canarias_municipios.csv'

## Import

In [2]:
from mariachis.models import Pubs
        
pub = Pubs(BASE_DIR, FOLDER_NAME, FILE_NAME, CP_FILE)
print(pub)

File: /Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos/CM29/maestro_cm29.csv

## Transform

In [3]:
df, pipe_obj = pub.full_pipeline_pubs(cluster_kwargs={'n_clusters':6, 'kmeans':True}, index='comunity_code', columns='Comercio', aggfunc={'Valor':['count','sum','mean']}, fill_value=0)
df.sample(2)

,comunity_code,Valor_count_Bares,Valor_count_Comerc_vinos,Valor_count_Restaurantes,Valor_mean_Bares,Valor_mean_Comerc_vinos,Valor_mean_Restaurantes,Valor_sum_Bares,Valor_sum_Comerc_vinos,Valor_sum_Restaurantes,cluster
55,38024,20,0,20,134.6,0.0,38.80,2692,0,776,B
61,38031,20,5,20,214.6,17.0,82.65,4292,85,1653,D

## Profiles

In [4]:
from mariachis.utils import profiles

prof = profiles(df)

for var in prof.values():
    display(var.fillna(0).style.format("{:.0f}").background_gradient('Blues'))

## Export

In [5]:
pub.export_result(df, 'Finished_Pubs.csv')

Exported succesfully!
File:	Finished_Pubs.csv
Path:	/Users/efraflores/Desktop/EF/Contests/Datathon_202109/data/datos